<?xml version="1.0"?>
<sdf version="1.6">model.sdf</sdf>

<model>
  <name>inmoov</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Paradox</name>
    <email>me@server.com</email>
  </author>

  <description>
    Inmoov Model Database
  </description>
</model>