<?xml version="1.0"?>
<robot name="inmoov" xmlns:xacro="http://ros.org/wiki/xacro">
<!-- This is from the tutorial at https://www.youtube.com/watch?v=BcjHyhV0kIs&list=PLunhqkrRNRhYAffV8JDiFOatQXuU-NnxT&index=2 -->



<!-- Some includes for later -->
<!-- <xacro:include filename="$(find inmoov_description)/urdf/config.joints.urdf.xacro" /> -->
<!-- <xacro:include filename="$(find inmoov_description)/urdf/config.inertial.urdf.xacro" /> -->
<!-- <xacro:include filename="$(find inmoov_description)/urdf/materials.urdf.xacro" /> -->
<!-- <xacro:include filename="$(find inmoov_description)/urdf/inmoov.gazebo" /> -->

<material name="white">
  <color rgba="1 1 1 1"/>
</material>

<material name="blue">
  <color rgba="0 0 1 1"/>
</material>

<!-- Since we are building a mobile (bipedal robot), we are going to make the first link base_link. -->
<!-- If this were a robot that was attached to a base that was stationare then we would use "world" -->
  <link name="base_link">


  </link>

  <joint name="torso" type="fixed">
    <parent link="base_link" />
    <child link="chassis_link"/>
    <origin xyz"-0.1 0 0"/>
  </joint>

  <link name="chassis_link">
    <visual>
      <origin xyz="0.15 0 0.075"/>
      <geometry>
        <box size="0.3 0.3 0.15"/>
      </geometry>
      <material name="white">
    </visual>
  </link>

  <link name="left_leg">
    <visual>
      <geometry>
        <<cylinder radius="0.05" length="0.4"/>
      </geometry>
      <material> name="blue"/>
    </visual>


</robot>