<launch>


  <!-- ====================== -->
  <!-- RQT Data Visualization -->
  <!-- ====================== -->
  <!-- Load RQT logger,  RQT Logger Level, RQT Console, RQT Graph -->
  <!-- Load inside RQT Gui.  This might need to be broken out later to use multi monitors or something. -->
  <node name = "rqt_dashboard" 
    pkg = "rqt_gui" 
    type = "rqt_gui" 
    respawn = "false" 
    output = "screen"
  />




</launch>