<launch>


                           
  <!-- ================================== -->
  <!-- ===   rViz Data Visualization  === -->
  <!-- ================================== -->
  <!-- Load rViz robot visualization tool.  This allows you to see what the robot sees or thinks its state is-->
  <!-- The inmoov.rviz file is created inside rviz itself after configuring the interface
  and then clicking file and save. -->
  <node name="rviz" 
    pkg="rviz" 
    type="rviz" 
    args="-d $(find inmoov_rviz)/rviz/inmoov.rviz"
    required="false" 
  />




</launch>