<launch>
  <!-- This launch file is only for launching rviz on its
  own without any other ROS components.  Mostly for fast testing -->
  
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Really Usefull Robot -->

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find inmoov_navigation)/launch/amcl.launch"/>

  <!-- move_base -->
  <!-- <include file="$(find inmoov_navigation)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include> -->

  <!-- rviz -->

  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find inmoov_rviz)/rviz/inmoov_navigation.rviz" />

</launch>
